:root {
  --primary: #ffa500;
  --secondary: #1c2024;
  --dark: #23262a;
  --grey: #878787;

  --montagu: "Montagu Slab", serif;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.bg-yellow {
  background-color: var(--primary);
}

/* button*/
.my-btn-dark {
  font-weight: 600;
  background-color: var(--secondary);
}

.my-btn-light {
  font-weight: 600;
  background-color: inherit;
}

.my-btn-dark:hover {
  background-color: var(--primary) !important;
  color: var(--secondary) !important;
}

.my-btn-light:hover {
  color: var(--primary);
  background-color: inherit;
}

/* hero section */
section.hero {
  height: calc(100vh - 57px - 81px);
}

section.hero h1 {
  font-size: 4rem;
  font-family: var(--montagu);
  font-weight: 600;
}

section.hero span.creative,
section.hero span.reality {
  position: relative;
  z-index: 1;
}

section.hero span.creative::before,
section.hero span.reality::before {
  content: "";
  position: absolute;
  bottom: 15px;
  height: 10px;
  width: 100%;
  background-color: var(--primary);
  z-index: -1;
}

section.hero p {
  color: var(--grey);
}

/* stat section */
section.stat {
  height: 255px;
  background-color: var(--secondary);
}

section.stat h2 {
  font-family: var(--montagu);
  font-size: 48px;
}

/* facility section */
section.facility .title h3 {
  font-family: var(--montagu);
  font-size: 36px;
}

section.facility .title span {
  position: relative;
  z-index: 1;
}

section.facility .title span::before {
  content: "";
  position: absolute;
  bottom: 10px;
  height: 10px;
  width: 100%;
  background-color: var(--primary);
  z-index: -1;
}

section.facility .checklist {
  display: flex;
  align-items: center;
}

section.facility .checklist i {
  font-size: 1.5rem;
  color: var(--primary);
}

section.facility .video {
  width: 684px;
}

section.facility .video img {
  width: 100%;
}

/* material section */
section.material .title h3 {
  font-family: var(--montagu);
  font-size: 36px;
}

section.material .title span {
  position: relative;
  z-index: 1;
}

section.material .title span::before {
  content: "";
  position: absolute;
  bottom: 7px;
  height: 10px;
  width: 100%;
  background-color: var(--primary);
  z-index: -1;
}

section.material .title p {
  color: var(--grey);
}

section.material .list h4 {
  font-size: 20px;
  font-weight: 700;
}

section.material .list span {
  font-size: 20px;
  font-weight: 700;
  padding: 3px 13px;
  background-color: var(--primary);
}

section.material .list p {
  color: var(--grey);
}

section.material .list a {
  font-weight: 500;
  text-decoration: none;
}

section.material .list .row .col:hover {
  background-color: var(--secondary) !important;
}

section.material .list .row .col:hover h4 {
  color: #fff;
}

section.material .list .row .col:hover a {
  color: #fff !important;
  text-decoration: underline;
}

/* comparison section */
section.comparison {
  background-color: var(--secondary);
  h3 {
    font-size: 36px;
    font-family: var(--montagu);
    span {
      color: var(--primary);
    }
  }
}

section.comparison .list-comparison {
  .row {
    .col-3,
    .col-4 {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(7, 1fr);
    }

    .col-3 p {
      font-weight: 700;
    }

    .col-4 {
      background-color: rgba(95, 95, 95, 0.1);
      h4 {
        font-weight: 700;
      }
      img {
        justify-self: center;
      }
    }

    .col-4:last-child {
      border: 4px solid rgba(255, 165, 0, 1);
      box-shadow: 0 0 20px 0px rgba(255, 165, 0, 1);
    }

    p {
      text-align: left;
    }
  }
}

/* mentor section */
section.mentor {
  h3 {
    font-family: var(--montagu);
    font-size: 36px;
  }

  span.expert {
    position: relative;
    z-index: 1;
  }

  span.expert::before {
    content: "";
    position: absolute;
    bottom: 7px;
    height: 12px;
    width: 100%;
    background-color: var(--primary);
    z-index: -1;
  }

  p {
    color: rgba(135, 135, 135, 1);
  }
}

section.mentor .list-mentor {
  width: 100%;
  scrollbar-width: none;

  .list {
    width: 273px;
    h4 {
      font-size: 20px;
      font-weight: 700;
    }
    h5 {
      font-size: 16px;
      font-weight: 500;
    }
  }
}

section.mentor .list-mentor::-webkit-scrollbar {
  display: none;
}

section.mentor .next-prev-btn {
  .prev,
  .next {
    cursor: pointer;
  }
}

/* faq section */
section.faq {
  h3 {
    font-family: var(--montagu);
    font-size: 36px;

    span {
      position: relative;
      z-index: 1;
    }

    span::before {
      content: "";
      position: absolute;
      bottom: 7px;
      height: 12px;
      width: 100%;
      background-color: var(--primary);
      z-index: -1;
    }
  }

  p {
    color: rgba(135, 135, 135, 1);
  }

  p.mt-5 {
    font-weight: 600;
  }
}

/* pricing section */
section.pricing {
  h3 {
    font-family: var(--montagu);
    font-size: 36px;

    span {
      position: relative;
      z-index: 1;
    }

    span::before {
      content: "";
      position: absolute;
      bottom: 7px;
      height: 12px;
      width: 100%;
      background-color: var(--primary);
      z-index: -1;
    }
  }

  p {
    color: rgba(135, 135, 135, 1);
  }
}

section.pricing .row {
  position: relative;

  .col-5 {
    background-color: var(--secondary);
  }

  .col-5:first-child {
    div.mt-4 {
      span:first-child {
        font-size: 24px;
        color: rgba(214, 37, 37, 1);
      }

      span:last-child {
        font-size: 40px;
        font-weight: 800;
      }
    }

    .checklist {
      display: flex;
      align-items: center;
    }

    .checklist i {
      font-size: 1.5rem;
      color: var(--primary);
    }
  }

  .col-5:last-child {
    h4 {
      font-size: 20px;
      font-weight: 700;
    }

    span {
      font-weight: 500;
    }
  }
}

section.pricing .row::before {
  content: "VS";
  width: 131px;
  height: 131px;
  text-align: center;
  line-height: 131px;
  font-size: 50px;
  font-weight: 700;
  color: var(--secondary);
  border-radius: 50%;
  background-color: var(--primary);
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
}

section.pricing .promo {
  background-color: #fff1d9;
  border: 4px solid var(--primary);

  h4 {
    font-family: var(--montagu);
    font-size: 36px;
    font-weight: 600;
  }

  p {
    font-size: 20px;
    color: #000;
  }

  span {
    display: block;
    font-size: 64px;
    font-weight: 800;
  }
}

/* footer */
footer {
  background-color: var(--secondary);
  color: #fff;
}

footer .left .links {
  font-size: 20px;

  a {
    color: #fff;
  }
}

footer .right {
  h5 {
    font-size: 20px;
    font-weight: 700;
  }

  a {
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
  }

  a:hover {
    color: var(--primary);
  }
}
